body
{
    height: 100%;
    width: 100%;
    background: linear-gradient(beige, pink);
}


#main-container{
    margin: auto;
    height: 1240px;
}
.sisters{
    margin: auto;
    height: 10%;
    /*background-color: rgb(241, 212, 175);*/
    align-items: center;
}

.title{
    font-size: xx-large;
    font-weight: 800;
    text-align: center;
    padding-top: 25px;
}

.game-area{
    display: flex;
    margin: auto;
    height: 60%;
}

.player-stats{
    height: auto;
    width : 25%;
   
}

.challenge{
    
    height:auto;
    width: 50%;
    
}

.game{
    display: flex;
    margin: auto;
    height: 55%;
    width: 100%;
    border: solid #7D5A50 3px;
    background-color: #F5E8C7;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.play-button{
    font-size: 80px;
    border-radius: 5px;
    background-color: rgb(250, 234, 237);
}


#test-id{
    display: flex;
    justify-content: space-between;
}



.selection{
    display: flex;
    margin: auto;
    height: 35%;
   /* border: solid orange 1px;*/

}

.rps{
    margin: auto;
    padding: 30px;
    justify-content: space-around;
    
}

.img{
    height: 120px;
    width: 120px;
    background-color: rgb(250, 234, 237);
}

#round-number {
    text-align: center;
    font-size: x-large;
    font-family: Tahoma;
    font-style: bold;
    color: brown;

}

#theone{
    margin: auto;
    width: 80%;
}
p.ChoiceIndicator{
    justify-content: space-evenly;
    text-align: center;
    font-size: large;
    font-family: Tahoma;
    font-style: bold;
    color: brown;


}

#thewinner {

    text-align: center;
    font-size: x-large;
    font-family: Tahoma;
    font-style: bold;
    color: rgb(166, 103, 103);

}